@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');
:root{
    --cor-primaria:#7B6631;
    --cor-secundaria: #ffffff;
    --background-color: #120C0D;
}
*{
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    justify-content: center;
    gap: 5%;
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    font-weight: 300;
    color: var(--cor-primaria);
    border-bottom: 2px solid var(--cor-primaria);
}
.menu__cabecalho {
    text-decoration: none;
    color: var(--cor-primaria);
    padding: 2% 0 1% 0;
}
body {
    background-color: var(--background-color);
    box-sizing: border-box;
}
.container {
    height: 100vh;
    display:grid;
    grid-template-columns: 50% 50%;
    align-items: center;
}
.inicio {
    background-image: url(Assets/background1.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
.sobremin {
    background-image: url(Assets/background2.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
.sobre__min {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: var(--cor-secundaria);
    font-size: 1.5em;
    padding: 10px;
    border: 2px solid var(--cor-primaria);
    margin: 0 50px 0 25%;
}
.sobre__min_titulo {
    color: var(--cor-primaria);
    font-size: 2.5en;
    padding: 35px 0;
}
.sobre__min_conteudo {
    text-align: left;
    padding-bottom: 10px;
    padding-left: 13%;
}
.img__sobremin {
    width: 70%;
}
